.table td,
th {
    border-left: 1px solid rgb(73, 80, 87);
    vertical-align: middle;
}

.table tr td:first-child,
.table tr th:first-child {
    border-left: none;
}

.table th {
    font-size: 14px;
}

.table td {
    font-size: 13px;
}

.eye-box {
    position: relative;
    width: fit-content;
    overflow: visible;
    display: flex;
    align-items: center;
    justify-content: center;
}

.eye-box svg {
    filter: drop-shadow(0px 3px 6px #ddd);
}

@media(min-width: 768px) {
    .table th,
    .table td {
        font-size: 16px;
    }
}

.table>:not(caption)>*>* {
    padding: 0.5rem 0.5rem !important;
}