@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@400;600&display=swap');

html {
  height: auto;
  min-height: 100vh;
}

body {
  font-family: 'Oxanium', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  background: radial-gradient(circle at bottom, navy 0, black 100%);
}

.body-overflow-hidden {
  overflow: hidden;
}

h2 {
  margin-bottom: 0;
}
